/* Theme Styles: Light Red and Black */

body {
    background-color: #f9f9f9; /* Light background to contrast with dark sections */
    color: #333;
  }
  
  h1 {
    color: #b32424; /* Light Red */
  }
  
  section {
    background-color: #333; /* Dark background for sections */
    color: #f5f5f5; /* Light text color for readability */
    border: 1px solid #b32424;
  }
  
  h2 {
    color: #b32424;
    font-size: 1.5rem;
    text-align: center;
  }
  
  input[type="text"], input[type="file"] {
    background-color: #f9f9f9;
    border: 1px solid #b32424;
    color: #333;
  }
  
  input[type="text"]:focus, input[type="file"]:focus {
    outline: none;
    border-color: #ff6666;
  }
  
  button {
    background-color: #b32424;
    color: #f5f5f5;
    border: none;
  }
  
  button:hover {
    background-color: #ff6666;
  }
  
  /* Status Messages */
  .success {
    color: #4caf50; /* Green for success messages */
  }
  
  .error {
    color: #ff4c4c; /* Red for error messages */
  }
  